<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LCContainers</key>
	<array>
		<dict>
			<key>folderName</key>
			<string>752B6522-37A4-404B-B0C6-8A37556C9F72</string>
			<key>isolateAppGroup</key>
			<false/>
			<key>name</key>
			<string>752B6522-37A4-404B-B0C6-8A37556C9F72</string>
		</dict>
	</array>
	<key>LCDataUUID</key>
	<string>752B6522-37A4-404B-B0C6-8A37556C9F72</string>
	<key>LCPatchRevision</key>
	<integer>99999</integer>
	<key>dontInjectTweakLoader</key>
	<true/>
	<key>dontLoadTweakLoader</key>
	<true/>
	<key>is32bit</key>
	<false/>
	<key>dontSign</key>
	<true/>
</dict>
</plist>
